extends _template.pug

block title
	title Sketch

block content
	include include/_header.pug
		block menu
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="index.html">Масло/акрил</a></li>
				<li class="nav-item"><a class="nav-link" href="pencil.html">Карандаш</a></li>
				<li class="nav-item active"><a class="nav-link" href="sketch.html">Маркеры<span class="sr-only">(current)</span></a></li> 
				<li class="nav-item"><a class="nav-link" href="digital.html">Цифровой рисунок</a></li> 
				<li class="nav-item"><a class="nav-link" href="paintings.html">Картины по номерам</a></li>
			</ul>
	include include/_sketch.pug
	include include/_footer.pug
	