<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <h4>Пейзаж</h4>
            <a data-fancybox="gallery" href="img/photo/lustra.jpg">
                <img src="img/photo/lustra.jpg" height="173" width="auto"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <h4>Горы</h4>
            <a data-fancybox="gallery" href="img/photo/mount.png"><img src="img/photo/mount.png" height="173" width="auto"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <h4>Усадьба</h4>
            <a data-fancybox="gallery" href="img/photo/castle.jpg"><img src="img/photo/castle.jpg" height="173" width="218"></a>
        </div>
    </div>
    
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <h4>Замок</h4>
            <a data-fancybox="gallery" href="img/photo/castle2.jpg"><img src="img/photo/castle2.jpg" height="173" width="218"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <h4>Парк</h4>
            <a data-fancybox="gallery" href="img/photo/park.jpg"><img src="img/photo/park.jpg" height="173" width="218"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <h4>Портрет</h4>
            <a data-fancybox="gallery" href="img/photo/boy.jpg"><img src="img/photo/boy.jpg" height="173" width="218"></a>
        </div>
    </div>
</div>