<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="card">
        <h4>Натюрморт</h4>
        <p>Холст, 30Х20, масло</p>
        <a data-fancybox="gallery" href="img/photo/holland-2.jpg">
            <img src="img/photo/holland-2.jpg" height="173" width="218"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
        <h4>Натюрморт</h4>
        <p>Холст, 20Х20, масло</p>
        <a data-fancybox="gallery" href="img/photo/holland-3.jpg">
            <img src="img/photo/holland-3.jpg" height="173"width="218"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
        <h4>Роза</h4>
        <p>Холст, 35Х25, масло</p>
        <a data-fancybox="gallery" href="img/photo/holland-4.jpg">
            <img src="img/photo/holland-4.jpg" height="173" width="218"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
        <h4>Копия</h4>
        <p>Холст, 40Х30, масло</p>
        <a data-fancybox="gallery" href="img/photo/holland-5.jpg"><img src="img/photo/holland-5.jpg" height="173" width="218"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
        <h4>Пейзаж</h4>
        <p>Холст на картоне, 30Х40, акрил</p>
        <a data-fancybox="gallery" href="img/photo/landscape.jpg"><img src="img/photo/landscape.jpg" height="173" width="auto"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
        <h4>Лодка</h4>
        <p>Холст на картоне, 30Х40, акрил</p>
        <a data-fancybox="gallery" href="img/photo/boat.jpg"><img src="img/photo/boat.jpg" height="173" width="auto"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
        <h4>Девушка</h4>
        <p>Холст на картоне, 30Х40, масло</p>
        <a data-fancybox="gallery" href="img/photo/girl.jpg"><img src="img/photo/girl.jpg" height="173" width="218"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
        <h4>Портрет</h4>
        <p>Холст на картоне, 30Х40, масло</p>
        <a data-fancybox="gallery" href="img/photo/portrait.jpg"><img src="img/photo/portrait.jpg" height="173" width="218"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
        <h4>Лавандовое поле</h4>
        <p>Холст на картоне, 20Х15, масло</p>
        <a data-fancybox="gallery" href="img/photo/field.jpg"><img src="img/photo/field.jpg" height="173" width="218"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
        <h4>Модерн</h4>
        <p>Холст на картоне, 15Х20, масло</p>
        <a data-fancybox="gallery" href="img/photo/23.jpg"><img src="img/photo/23.jpg" height="173" width="218"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
        <h4>Натюрморт</h4>
        <p>Холст на картоне, 20Х15, масло</p>
        <a data-fancybox="gallery" href="img/photo/bottles.jpg"><img src="img/photo/bottles.jpg" height="173" width="218"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
        <h4>Абстракция</h4>
        <p>Холст на картоне, 60Х50, акрил</p>
        <a data-fancybox="gallery" href="img/photo/acryl-big.jpg"><img src="img/photo/acryl-big.jpg" height="173" width="218"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
        <h4>Натюрморт</h4>
        <p>Холст на картоне, 30Х25, масло</p>
        <a data-fancybox="gallery" href="img/photo/oil-bowl.jpg"><img src="img/photo/oil-bowl.jpg" height="173" width="218"></a>
        </div>
    </div>
</div>