<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="card">
            //- <!-- <h4>Пейзаж</!--> -->
            <a data-fancybox="gallery" href="img/photo/pencil1.jpg"><img src="img/photo/pencil1.jpg" height="173" width="auto"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
            //- <!-- <h4>Горы</h4> -->
            <a data-fancybox="gallery" href="img/photo/pencil2.jpg"><img src="img/photo/pencil2.jpg" height="173" width="auto"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
            //- <!-- <h4>Усадьба</h4> -->
            <a data-fancybox="gallery" href="img/photo/pencil3.jpg"><img src="img/photo/pencil3.jpg" height="173" width="218"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <a data-fancybox="gallery" href="img/photo/row6.jpg"><img src="img/photo/row6.jpg" height="173" width="218"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
            //- <h4></h4>
            <p></p>
            <a data-fancybox="gallery" href="img/photo/cars.png"><img src="img/photo/cars.png" height="173" width="218"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
            //- <h4></h4>
            <p></p>
            <a data-fancybox="gallery" href="img/photo/cube.jpg"><img src="img/photo/cube.jpg" height="173" width="218"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
            //- <h4></h4>
            <p></p>
            <a data-fancybox="gallery" href="img/photo/ball.jpg"><img src="img/photo/ball.jpg" height="173" width="218"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
            //- <!-- <h4></!-->
            <a data-fancybox="gallery" href="img/photo/pencil4.jpg"><img src="img/photo/pencil4.jpg" height="173" width="218"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
            //- <!-- <h4>Парк</h4> -->
            <a data-fancybox="gallery" href="img/photo/pencil10.jpg"><img src="img/photo/pencil10.jpg" height="173" width="218"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
            //- <!-- <h4>Портрет</h4> -->
            <a data-fancybox="gallery" href="img/photo/pencil11.jpg"><img src="img/photo/pencil11.jpg" height="173" width="218"></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
            //- <!-- <h4>Портрет</h4> -->
            <a data-fancybox="gallery" href="img/photo/pencil12.jpg"><img src="img/photo/pencil12.jpg" height="173" width="218"></a>
    </div>
</div>
