.content
    .container
        .slogan
            h1 На этой странице размещены скетчи
            <p class="subtitle">Часть из них - это работы по курсу "Городской&nbsp;скeтчинг&nbsp;-&nbsp;1" от Анны Эгида (Kalacheva.school). Все работы сделаны маркерами на бумаге</p>
            include cards/_sketch-cards-example.pug
                